@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

*{
  font-family: Caveat;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

