#hang_word{
    display: flex;
    gap: 0.25em;
    font-size: 5rem;
    font-weight: bold;
}
#word_cont{
    border-bottom: 0.1em solid black;
    letter-spacing: 0.2em;
}
#visible{
    visibility: visible;
}
#hidden{
    visibility: hidden;
}